@mixin box{
  background-color: $color-secondary;
  box-shadow: 0px 20px 33px 0px rgba($color-secondary, 0.50);
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  color: $color-font;
}